{% extends 'base.html' %}

{% block content %}

<form action="/change_password" method="post" class="bg-light p-4 m-auto mb-5 rounded shadow border border-2"
    style="max-width: 500px;">
    <h4 class="mb-4">Сменить пароль</h4>
    
    <label for="old_password" class="form-label">Старый пароль</label>
    <input 
        type="password" 
        name="old_password" 
        id="old_password"
        class="form-control mb-2 {{ 'is-invalid' if form_errors and 'old_password' in form_errors else '' }}" 
        required
    >
    {% if form_errors and 'old_password' in form_errors %}
        <div class="invalid-feedback d-block">
            {{ form_errors['old_password'] }}
        </div>
    {% endif %}

    <label for="new_password_1" class="form-label">Новый пароль</label>
    <input 
        type="password" 
        name="new_password_1" 
        id="new_password_1"
        class="form-control mb-2 {{ 'is-invalid' if form_errors and 'new_password_1' in form_errors else '' }}" 
        required
    >
    {% if form_errors and 'new_password_1' in form_errors %}
        <div class="invalid-feedback d-block">
            {{ form_errors['new_password_1'] }}
        </div>
    {% endif %}

    <label for="new_password_2" class="form-label">Повторите пароль</label>
    <input 
        type="password" 
        name="new_password_2" 
        id="new_password_2"
        class="form-control mb-2 {{ 'is-invalid' if form_errors and 'new_password_2' in form_errors else '' }}" 
        required
    >
    {% if form_errors and 'new_password_2' in form_errors %}
        <div class="invalid-feedback d-block">
            {{ form_errors['new_password_2'] }}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>
{% endblock %}
